body { 
    padding-top: 5rem; 
    background-color: aliceblue;
}
.starter-template { 
    padding: 3rem 1.5rem; 
}
#logout { 
    display:none; 
}

.ml {
    font-weight: 900;
    font-size: 3.5em;
}
  
.ml .letter {
    display: inline-block;
    line-height: 1em;
}